body {
  background-color: #FDE9D2;
  justify-content: center;
}

.true {
  display: block;
}

.false {
  display: none;
}

.badges {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  ;
}

.review {
  padding-top: 5px;
}

.card {
  width: 90%;
  margin: auto;
}

.card-content {
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
}

.picture {
  text-align: center;
}

.profile_picture {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.wand {
  padding: 0;
  list-style-type: none;
}

@media (min-width: 576px) {
  .card {
    width: 90%;
  }

  .profile_picture {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

@media (min-width: 768px) {
  .card {
    width: 90%;
  }

  .profile_picture {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

@media (min-width: 992px) {
  .card {
    width: 90%;
  }

  .card-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .review {
    display: flex;
    justify-content: center;
  }

  .profile_picture {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}