body {
  background-color: #FDE9D2;
  justify-content: center;
}
.true {
  display: block;
}
.false{
  display: none;
}
.badges {
  display: flex;
  justify-content: space-around;
  margin: 5px;;
}
.card{
  width: 33%;
}
.card-content {
  display: flex;
  justify-content: space-around;
}

.wand {
  padding: 0;
  list-style-type: none;
}

.review {
  display: flex;
  justify-content: center;
}

.profile_picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
}